@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
.upload-problem {
    margin: 0 auto;
    margin-top: 40px;
    background-color: #ffffff;;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px var(--color-shadow);
    max-width: 800px;
    font-family: "Montserrat", sans-serif;
  }
  
  .upload-problem h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .upload-problem form {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    grid-gap: 20px;
  }
  
  .upload-problem label {
    display: flex;
    flex-direction: column;
    font-weight: 600;
    color: var(--color-text-primary);
  }
  
  .upload-problem input,
  .upload-problem textarea {
    padding: 10px;
    border: 1px solid var(--color-border);
    border-radius: 5px;
    background-color: var(--color-background-light);
    color: var(--color-text-primary);
    margin-top: 5px;
    transition: border-color 0.3s ease-in-out;
  }
  
  .upload-problem input:focus,
  .upload-problem textarea:focus {
    border-color: var(--color-primary-blue);
    outline: none;
  }
  
  .upload-problem .btn {
    background-color: var(--color-primary-blue);
    color: var(--color-background-light);
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    grid-column: span 2;
    margin-top: 10px;
  }
  .difficulty
  {
    margin-top: 4px;
    height: 37px;
    font-family: "Montserrat", sans-serif;;
    border-radius:6px;
    border-color: var(--color-border);
  }
  .difficulty:hover{
    border-color: var(--color-primary-blue);
  }

  .upload-problem .btn:hover {
    background-color: var(--color-primary-green);
    opacity: 0.9;
  }
  
  .upload-problem textarea {
    resize: vertical;
    min-height: 80px;
  }
  
  @media (max-width: 768px) {
    .upload-problem form {
      grid-template-columns: 1fr;
    }
  
    .upload-problem .btn{
      grid-column: 1;
    }
    .upload-problem .btn::after{
      background-color: var(--color-primary-green);
    }
  }
  