/* src/components/Navbar/Navbar.css */

.navbar {
  background-color: var(--color-primary-blue);
  height: 70px;
  padding: 10px 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-family: "Montserrat", sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid var(--color-border);
  height: 70px;
  position: relative;
}

.navbar-brand {
  display: flex;
  align-items: center;
}

.navbar-tittle{
  color: var(--color-background-light);
  font-size: 1.1rem;
  font-optical-sizing: auto;
  font: weight 200px;;
  text-decoration: none;
  margin-left: 10px;
  display: flex;
  flex-direction: row;
}

.navbar-toggle {
  display: none;
  font-size: 1.5rem;
  color: var(--color-background-light);
  cursor: pointer;
}

.nav-links {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.nav-links li {
  margin: 0;
  padding: 0%;
}

.nav-link {
  color: var(--color-background-light);
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  padding: 10px 15px;
  transition: background-color 0.3s ease, color 0.3s ease;
  display: block;
}

.nav-link:hover {
  border-radius: 7px;
  background-color: var(--color-secondary-light-blue);
}

.nav-link.active {
  border-radius: 0%;
  background-color: var(--color-primary-blue);
  box-shadow: inset 0 -2px 0 var(--color-background-light);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-toggle {
    display: block;
  }
  .navbar-tittle{
    font-size: large;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    background-color: var(--color-primary-blue);
    position: absolute;
    top: 50px;
    left: 0;
    padding: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  .nav-links.open {
    display: flex;
  }

  .nav-link {
    padding: 15px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

  .nav-link:hover,
  .nav-link.active {
    background-color: var(--color-secondary-light-blue);
  }
}
.profile-overlay {
  position: absolute;
  right: 10px;
  top: 60px;
  width: 150px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  z-index: 1000;
  padding: 10px;
  border: 1px solid #ccc;
}

.profile-overlay ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.profile-option {
  padding: 8px 15px;
  cursor: pointer;
  color: #333;
}

.profile-option:hover {
  background-color: #f1f1f1;
}

/* .profile-option:first-child {
  color: #007bff;
} */

.profile-option:last-child {
  color: red;
}