/* src/App.css */

.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: var(--color-background-light);
  color: var(--color-text-primary);
  font-family: Arial, sans-serif;
  text-align: center;
}

.home-container h1 {
  font-size: 4rem;
  color: var(--color-text-primary);
  margin-bottom: 1.5rem;
}

.outline {
  color: transparent;
  -webkit-text-stroke: 2px var(--color-text-primary);
}

.welcome-section p {
  font-family: 'Georgia', serif;
  font-size: 1.25rem;
  font-weight: 400;
  color: var(--color-text-secondary);
  margin-top: 0;
  margin-bottom: 1rem;
}

.cta-buttons {
  margin-top: 2rem;
}

.cta-btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--color-background-light);
  background-color: var(--color-primary-blue);
  border-radius: 5px;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 0 10px;
}

.cta-btn:hover {
  background-color: var(--color-secondary-light-blue);
}
